<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="TestingSystemEntities" connectionString="metadata=res://*/TestingSystemModel.csdl|res://*/TestingSystemModel.ssdl|res://*/TestingSystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.14.206.28;initial catalog=user3;persist security info=True;user id=user3;password=p%c&amp;88EP;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>